name: Check whether the pr is ready to merge
on:
  pull_request:

jobs:
  check-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "23"

      - name: Install dependencies
        run: npm i --legacy-peer-deps

      - name: Run lint
        run: npm run lint


      - name: Build application
        run: npm run build